/* ---------- MIXINS ---------- */
//   DIMENSIONS
@mixin grid-column-10 {
    width: 83.33%;
    height: auto;
    margin: 0 auto;
}

// TEXT STYLE
@mixin title {
    font-family: 'Roboto Slab', serif;
}

@mixin subtitle {
    color: $dk-gray;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

@mixin caption {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
}

// CONTAINERS
@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;    
}


